body {
  background-color: black;
  font-family: monospace;
}

p.standout {
  color: whitesmoke;
}

.background {
  color: whitesmoke;
}

.box-left {
  margin: 12px;
  border: 3px solid whitesmoke;
  padding: 5px;
  background-color: orangered;
  box-sizing: border-box;
  text-align: center;  
}

/* .cat-img {
  float: left;
} */