body {
  background-color: black;
  font-family: monospace;
}

.standout {
  color: whitesmoke;
}

.background {
  color: whitesmoke;
}

.box-left {
  margin: 12px;
  border: 3px solid whitesmoke;
  padding: 5px;
  background-color: orangered;
  box-sizing: border-box;
  text-align: left;  
}

.cat-img {
  float: left;
  height: 300px;
  width: 300px;
}

.cat-img2 {
  float: left;
  height: 300px;
  width: 400px;

}

.soot-img {
  float: right;
}

.box-nobg {
  margin: 12px;
  padding-top: 200px;
  padding-bottom: 50px;
  box-sizing: border-box;
}